{% extends 'core/base.html' %}

{% block title %}Detalle del Producto{% endblock %}

{% block content %}
    <h2 class="mb-4">{{ marcas.nombre }}</h2>
    <p><strong>Marca:</strong> {{  marcas.nombre }}</p>
    <p><strong>Fecha de Creación:</strong> {{ marcas.fecha_creacion }}</p>
    <p><strong>Fecha de Actualización:</strong> {{ marcas.fecha_actualizacion }}</p>
    {%if marcas.creado_por%}
    <p><strong>Creado por:</strong> {{ marcas.creado_por }}</p>
    {%endif%}
    {% if request.user.is_staff %}
    <a class="btn btn-warning" href="{% url 'editar_marcas' marcas.pk %}">Editar</a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'lista_marcas' %}">Volver a la lista de marcas</a>
{% endblock %}